<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Report</title>
    <link rel="stylesheet" href="report.css">
</head>

<body>
    <header>
        <a href="/">Home</a>
    </header>
    <br>
    <br>
    <form class="form" method="post" action="/report">
        <input type="text" class="location_input" name="location" placeholder="Enter location"
            value="<%= locals.Name %>" required>
        <button type="submit" class="location-btn">Get</button>
    </form>

    <div class="big-container">
        <div class="container-1">
            <p>
                <b>
                    <%= locals.Name %> ,<%= locals.State %> ,<%= locals.Country %>
                </b>
            </p>
        </div>

        <img src="icons/weather-app.png" class="initial-img">
        <p class="temperature">
            <%= locals.Temp_C %> <sup>o</sup>C
        </p>

        <div class="container-2">
            <p> Wind Speed <br> <img src="icons/wind.png">
                <b>
                    <%= locals.wind_dir %>
                        <%= locals.Wind_kph %> Kmph
                </b>
            </p>

            <p> Precipitation (mm) <br> <img src="icons/raining.png">
                <b>
                    <%= locals.precip_mm %> mm
                </b>
            </p>

            <p> Humidity <br> <img src="icons/hot.png">
                <b>
                    <%= locals.humidity %>%
                </b>
            </p>

        </div>

        <div class="container-3">
            <p> Cloud cover <br> <img src="icons/cloudy.png">
                <b>
                    <%= locals.cloud %>%
                </b>
            </p>

            <p> pm 2.5 <br> <img src="icons/air-pollution.png"> <br>
                <b>
                    <%= locals.pm_2_5 %>
                </b>
            </p>

        </div>

    </div>

    <footer class="site-footer">
        <div class="footer-content">
          <p class="footer-desc">Crafted with Care and Passion 
          <br>
          Email : rudra.010402@gmail.com
          </p>
        </div>
      </footer>

</body>

</html>